@import url(./reset.css);

.container {
  background: linear-gradient(180deg, #f1d9d7 0%, #c2daff 47.6%, #f7cff8 100%);
  color: black;
  height: auto;
  padding-bottom: 100px;
}

.background-gradient {
  width: 100%;
  height: auto;
  mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
}

.background {
  width: 100%;
  height: 800px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) -100%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../img/6be9c753-c604-4e3d-bcbe-5ed843d75fce.png") center/cover;
  padding-top: 200px;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.lettering {
  margin-top: 100px;
  font-size: 4rem;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #222222;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: #3297fd; */
  color: white;
  padding: 20px;
}

.card-grid {
  margin: 50px 300px;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  padding: 50px 40px;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-picture {
  position: relative;
  max-width: 120px;
  border-radius: 50%;
  top: -10px;
  object-fit: cover;
  object-position: 10px 10px;
}

.picture-alex {
  background-color: #85d2e2;
  object-fit: cover;
  object-position: 10px 10px;
}

.alex {
  background: linear-gradient(
    150.34deg,
    #92e3f3 2.32%,
    #bdf3f9 82.74%,
    #c6f6fa 96.64%
  );
}

.alex:hover {
  background: linear-gradient(
    322.16deg,
    #92e3f3 3.19%,
    #bdf3f9 77.81%,
    #c6f6fa 90.71%
  );
  transition: 0.2s;
  cursor: pointer;
}

.villager-name {
  margin-top: 10px;
  font-family: "Bree serif";
  text-align: center;
  font-size: 1.5rem;
}

.name-alex {
  color: #2e545c;
}

.elliott {
  background: linear-gradient(322.16deg, #ffcef0 0%, #f2f5ce 100%);
}

.elliott:hover {
  background: linear-gradient(322.16deg, #f2f5ce 0%, #ffcef0 100%);
  transition: 0.2s;
  cursor: pointer;
}

.picture-elliott {
  background-color: #ffb5e5;
}

.name-elliott {
  color: #af548f;
}

.harvey {
  background: linear-gradient(150.17deg, #bcc08f 0.06%, #4fccc3 98.18%);
}

.harvey:hover {
  background: linear-gradient(150.17deg, #4fccc3 0.06%, #bcc08f 98.18%);
  cursor: pointer;
}

.picture-harvey {
  background-color: #4e9893;
  object-position: 8px 10px;
}

.name-harvey {
  color: #306561;
}

.sam {
  background: linear-gradient(147.22deg, #f2f5ce 1.65%, #ffb187 102.33%);
}

.sam:hover {
  background: linear-gradient(147.22deg, #ffb187 1.65%, #f2f5ce 102.33%);
  cursor: pointer;
}

.picture-sam {
  background-color: #d2845a;
  object-position: 3px 10px;
}

.name-sam {
  color: #ae6b47;
}

.sebastian {
  background: linear-gradient(328.04deg, #a5eeff 1.82%, #a0b1f7 100%);
}

.sebastian:hover {
  background: linear-gradient(328.04deg, #a0b1f7 1.82%, #a5eeff 100%);
  cursor: pointer;
}

.picture-sebastian {
  background-color: #7e8fc5;
  object-position: 3px 10px;
}

.name-sebastian {
  color: #2e545c;
}

.shane {
  background: linear-gradient(150.27deg, #ffcdb2 0.03%, #b5838d 98.02%);
}

.shane:hover {
  background: linear-gradient(150.27deg, #b5838d 0.03%, #ffcdb2 98.02%);
  cursor: pointer;
}

.picture-shane {
  background-color: #c98e71;
  object-position: 0px 10px;
}

.name-shane {
  color: #894141;
}

.abigail {
  background: linear-gradient(148.92deg, #f6aeae 0.06%, #c8b6ff 99.95%);
}

.abigail:hover {
  background: linear-gradient(148.92deg, #c8b6ff 0.06%, #f6aeae 99.95%);
  cursor: pointer;
}

.picture-abigail {
  background-color: #c483ad;
  object-position: 5px 5px;
}

.name-abigail {
  color: #9d5885;
}

.emily {
  background: linear-gradient(150.27deg, #efe5dc 0%, #f18585 97.99%);
}

.emily:hover {
  background: linear-gradient(150.27deg, #f18585 0%, #efe5dc 97.99%);
  cursor: pointer;
}

.picture-emily {
  background-color: #f18888;
  object-position: 2px 5px;
}

.name-emily {
  color: #8f3d3d;
}

.haley {
  background: linear-gradient(330.05deg, #f5ced4 0%, #ffa9c1 98.22%);
}

.haley:hover {
  background: linear-gradient(330.05deg, #ffa9c1 0%, #f5ced4 98.22%);
  cursor: pointer;
}

.picture-haley {
  background-color: #c88a9c;
  object-position: 3px 5px;
}

.name-haley {
  color: #7e4b5a;
}

.leah {
  background: linear-gradient(148.83deg, #cfe0c3 0.03%, #deab90 100.06%);
}

.leah:hover {
  background: linear-gradient(148.83deg, #deab90 0.03%, #cfe0c3 100.06%);
  cursor: pointer;
}

.picture-leah {
  background-color: #92796b;
  object-position: 3px 5px;
}

.name-leah {
  color: #894141;
}

.maru {
  background: linear-gradient(328.92deg, #6edef9 0.05%, #dddcbd 99.94%);
}

.maru:hover {
  background: linear-gradient(328.92deg, #dddcbd 0.05%, #6edef9 99.94%);
  cursor: pointer;
}

.picture-maru {
  background-color: #48928d;
  object-position: 3px 10px;
}

.name-maru {
  color: #34716d;
}

.penny {
  background: linear-gradient(148.83deg, #c8e4e4 0%, #ffb8a5 100.03%);
}

.penny:hover {
  background: linear-gradient(148.83deg, #ffb8a5 0%, #c8e4e4 100.03%);
  cursor: pointer;
}

.picture-penny {
  background-color: #c39689;
  object-position: 3px 10px;
}

.name-penny {
  color: #975353;
}

footer {
  padding: 50px;
}

.done-by {
  display: flex;
  justify-content: center;
}

.footer-note {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #222222;
  font-family: "Bree serif";
  gap: 5px;
}

.heart {
  max-width: 50px;
}

.github {
  text-decoration: none;
  color: blue;
}

.github:hover {
  color: red;
  transition: 0.2s;
}
